USE [master]
GO
/****** Object:  Database [TwitterBot]    Script Date: 13.08.2022 18:15:10 ******/
CREATE DATABASE [TwitterBot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TwitterBot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TwitterBot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TwitterBot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TwitterBot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TwitterBot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TwitterBot]
GO
/****** Object:  Table [dbo].[FollowedAccounts]    Script Date: 13.08.2022 18:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowedAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FollowingAccountId] [int] NOT NULL,
	[FollowedAccountId] [int] NOT NULL,
	[FollowingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TwitterAccounts]    Script Date: 13.08.2022 18:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwitterAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountUserName] [varchar](255) NOT NULL,
	[AccountPassword] [varchar](255) NOT NULL,
	[AccountDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TwitterAccountToFollows]    Script Date: 13.08.2022 18:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwitterAccountToFollows](
	[AccountToFollowId] [int] IDENTITY(1,1) NOT NULL,
	[AccountToFollowUserName] [varchar](255) NOT NULL,
	[AccountToFollowDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountToFollowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FollowedAccounts]  WITH CHECK ADD  CONSTRAINT [FK_FollowedAccounts_TwitterAccounts] FOREIGN KEY([FollowingAccountId])
REFERENCES [dbo].[TwitterAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[FollowedAccounts] CHECK CONSTRAINT [FK_FollowedAccounts_TwitterAccounts]
GO
ALTER TABLE [dbo].[FollowedAccounts]  WITH CHECK ADD  CONSTRAINT [FK_FollowedAccounts_TwitterAccountToFollows] FOREIGN KEY([FollowedAccountId])
REFERENCES [dbo].[TwitterAccountToFollows] ([AccountToFollowId])
GO
ALTER TABLE [dbo].[FollowedAccounts] CHECK CONSTRAINT [FK_FollowedAccounts_TwitterAccountToFollows]
GO
USE [master]
GO
